/** 
* -- Optional File --
* Classes used by QuizLib, you can freely override them in your own stylesheets 
*/

.quizlib-question {
    margin-bottom: 1em;
}

.quizlib-question-title {}

.quizlib-question-answers ul {
    list-style: none;
}

.quizlib-question-warning {
    color: #f44336;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.quizlib-correct {
    color: #4caf50;
}

.quizlib-incorrect {
    color: #f44336;
}
